<form method="post" class="form-inline" action="__MODULE__/Admin/savePost" id="form-save">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">查看资料</h4>
    </div>
    <div class="modal-body">
        <input type='hidden' name="admin_id" value="<?php echo $info['admin_id']; ?>" data-value="<?php echo $info['admin_id']; ?>" />

        <div style="padding:20px 20px 0 20px;">
            <table>
                <tr style="margin-bottom:10px;display:block;">
                    <td width="90">用户名：</td>
                    <td><input type="text" class="form-control" placeholder="用户名" name="username"
                               value="<?php echo $info['username']; ?>" data-value="<?php echo $info['username']; ?>" maxlength="30"/><span class="text-info">*</span>
                    </td>
                </tr>
                <tr style="margin-bottom:10px;display:block;">
                    <td width="90">密码：</td>
                    <td><input type="password" class="form-control" placeholder="密码" name="password" value="123456" data-value=""
                               maxlength="32"/><span class="text-info">*</span></td>
                </tr>
                <tr style="margin-bottom:10px;display:block;">
                    <td width="90">邮箱：</td>
                    <td><input type="text" class="form-control" placeholder="邮箱" name="email"
                               value="<?php echo $info['email']; ?>" data-value="<?php echo $info['email']; ?>" maxlength="30"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" onclick="save(this.form)" value="确定"/>
        <input type="reset" class="btn btn-warning" value=" 重置 "/>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
    <div class="error-msg"></div>
</form>