<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Title and other stuffs -->
  <title>后台登录</title>
  <!-- Stylesheets -->
  <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.css">
  <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
</head>

<body>

<!-- Form area -->
<div class="admin-form">
    <!-- Widget starts -->
    <div class="widget worange">
      <!-- Widget head -->
      <div class="widget-head">
        <i class="icon-lock"></i> 登录 管理中心
      </div>

      <div class="widget-content">
        <div class="padd">
          <!-- Login form -->
          <form class="form-horizontal" action="{:U('loginPost')}" method="post" id="form-login">
            <!-- Email -->
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4" for="inputEmail">帐　号</label>
              <div class="col-lg-8 col-md-8">
                <input type="text" name="username" class="form-control" id="inputEmail" placeholder="用户名/邮箱">
              </div>
            </div>
            <!-- Password -->
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4" for="inputPassword">密　码</label>
              <div class="col-lg-8 col-md-8">
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="密码">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4" for="inputPassword">验证码</label>
              <div class="col-lg-4 col-md-4">
                <input type="text" name="captcha" class="form-control" id="inputPassword" autocomplete="off" placeholder="验证码">
              </div>
              <a href="javascript:void(0)"><img class="col-lg-4 col-md-4" src="{:U('captcha')}" title="看不清？点击换一张" onclick="this.src='{:U('captcha')}?'+Math.random()" /></a>
            </div>
            <!-- Remember me checkbox and sign in button -->
            <div class="form-group">
                <label class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                  <input type="checkbox" name="is_auto"> 记住一周
                </label>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <button type="submit" class="btn btn-danger" onclick="return login()">登录</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div id="form-msg"></div>
      <div class="widget-foot">
          没有帐号？<a href="#">申请帐号</a>
      </div>
    </div>
</div>

<!-- JS -->
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<script type="text/javascript">
  //登录ajax
  function login() {
    var post_data = $("#form-login").serialize();
    $.ajax({
      "type":"post",
      "url":"{:U('loginPost')}",
      "data":post_data,
      "dataType":"json",
      success:function(data) {
        var info = data.info;
        if (data.status) {
          var html = '<div class="alert alert-success alert-dismissible" role="alert">';
          html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
          html += info + '</div>';
          $("#form-msg").html(html);
          window.location.href = data.url;
        } else {
          var html = '<div class="alert alert-warning alert-dismissible" role="alert">';
              html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
              html += info + '</div>';
          $("#form-msg").html(html);
        }
      }
    });
    return false;
  }
</script>
</body>
</html>