<layout name="../../Layout/admin" />
<!-- Page heading -->
<div class="page-head">
    <h2 class="pull-left" id="table-title"><i class="<?php echo $menu['icon'];?>"></i> <?php echo $menu['name'];?></h2>
    <div class="pull-right" style="cursor: pointer;line-height: 43px;"><i class="icon-fullscreen" onclick="ctrl(this)"></i></div>
    <div class="clearfix"></div>
</div>
<!-- Page heading ends -->

<!-- Matter -->

<div class="matter">
    <div class="container">

        <!-- Table -->

        <div class="row">

            <div class="col-md-12">
                <div class="widget">

                    <div class="widget-head">

                        <form class=" form-inline" method="get" action="__ACTION__" id="form-search">
                            标题                            <input type="text" placeholder="标题" name="title" class="form-control" value="<?php echo I('get.title');?>">
                            艺术家                            <input type="text" placeholder="艺术家" name="artist" class="form-control" value="<?php echo I('get.artist');?>">
                            <button type="submit" class="btn btn-info"  onclick="return search('#form-search')">搜索</button>

                            <a class="btn btn-info pull-right" href="__CONTROLLER__/add" data-toggle="modal" data-target="#myModal"><i class="icon-plus"></i>添加音乐</a>

                        </form>

                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <form method="post" action="__CONTROLLER__/bdel">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="check_all" /></th>
                                    <th>音乐ID</th>
                                    <th>标题</th>
                                    <th>艺术家</th>
                                    <th>文件路径</th>
                                    <th>专辑</th>
                                    <th>发行年份</th>
                                    <th>封面</th>
                                    <th>排序</th>
                                    <th>文件大小</th>
                                    <th>状态</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="form-list">
                                    <?php foreach($data as $row):?><tr>
                                        <td><input type="checkbox" name="delid[]" data="id" value="<?php echo $row['music_id'];?>"></td>
                                        <td><?php echo $row['music_id'];?></td>
                                        <td><?php echo $row['title'];?></td>
                                        <td><?php echo $row['artist'];?></td>
                                        <td><?php echo '<audio controls="controls" src="', $row['path'], '"></audio>';?></td>
                                        <td><?php echo $row['album'];?></td>
                                        <td><?php echo $row['publish_time'];?></td>
                                        <td><?php echo $row['cover'] ? '<img src="' . $row['cover'] . '" style="max-width:200px;" />' : '';?></td>
                                        <td><?php echo $row['list_order'];?></td>
                                        <td><?php echo $row['size'];?></td>
                                        <td><?php echo $row['status'];?></td>
                                        <td><?php echo $row['update_time'];?></td>
                                        <td>
                                            <a class="btn btn-xs btn-warning a-color" href="__CONTROLLER__/save/id/<?php echo $row['music_id'];?>" data-toggle="modal" data-target="#myModal">
                                                <i class="icon-pencil"></i>
                                            </a>
                                            <button type="button" class="btn btn-xs btn-danger" data-toggle="popover" data-placement="left" data-title="是否删除？" data-html="true" data-content="<button type='button' class='btn btn-danger' onclick='del(this)'>确定</button> <button type='button' class='btn btn-default' onclick='$(this).parent().parent().prev().click()'>取消</button>">
                                                <a class="a-color" href="__CONTROLLER__/del/id/<?php echo $row['music_id'];?>"><i class="icon-remove"></i></a>
                                            </button>
                                        </td>
                                    </tr>
                                    <?php endforeach;?>                                </tbody>
                            </table>

                            <div class="widget-foot">
                                <div class="pagination">
                                    <label><input id="check_all" class="check_all" type="checkbox">全选</label>
                                    <input class="btn btn-danger" value="删除" onclick="return confirm('确定批量删除吗？')" type="submit" />
                                </div>
                                <ul class="pagination pull-right" id="page">
                                    <?php echo $page;?>                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    function getList(form){
        $.ajax({
            type:"get",
            url:"__CONTROLLER__/search",
            data:$(form).serialize()+"&p="+curr,
            dataType:"json",
            success:function(data){
                var list = data.data;
                if(list == null){
                    $("#form-list").html("");
                    $("#page").html("");
                    return;
                }
                var html = "";
                for(var i in list){
                    html += '<tr><td><input type="checkbox" name="delid[]" data="id" value="'+list[i].music_id+'"></td>';
                    html += '<td>'+list[i].music_id+'</td>';
                    html += '<td>'+list[i].title+'</td>';
                    html += '<td>'+list[i].artist+'</td>';
                    html += '<td>'+'<audio id="audio" controls="controls" src="'+list[i].path+'"></audio>'+'</td>';
                    html += '<td>'+list[i].album+'</td>';
                    html += '<td>'+list[i].publish_time+'</td>';
                    var cover = list[i].cover ? '<img src="' + list[i].cover + '" style="max-width:200px;" />' : '';
                    html += '<td>'+cover+'</td>';
                    html += '<td>'+list[i].list_order+'</td>';
                    html += '<td>'+list[i].size+'</td>';
                    html += '<td>'+list[i].status+'</td>';
                    html += '<td>'+list[i].update_time+'</td>';
                                        html += '<td><a class="btn btn-xs btn-warning a-color" href="__CONTROLLER__/save/id/'+list[i].music_id+'" data-toggle="modal" data-target="#myModal"><i class="icon-pencil"></i></a> ';
                    html += '<button type="button" class="btn btn-xs btn-danger" data-toggle="popover" data-placement="left" data-title="是否删除？" data-html="true" '+
                        'data-content="<button type=\'button\' class=\'btn btn-danger\' onclick=\'del(this)\'>确定</button> '+
                        '<button type=\'button\' class=\'btn btn-default\' onclick=\'$(this).parent().parent().prev().click()\'>取消</button>">'+
                        '<a class="a-color" href="__CONTROLLER__/del/id/'+list[i].music_id+'"><i class="icon-remove"></i></a></button></td></tr>';
                }
                $("#form-list").html(html);
                var page = data.page;
                page = page.replace(/<a(.*?)>(.*?)<\/a>/gi, "<li><a$1>$2</a></li>");
                page = page.replace(/<span(.*?)>(.*?)<\/span>/, "<li><span$1>$2</span></li>");
                $("#page").html(page);
                $('button[data-toggle="popover"]').popover();//重新载入弹出框
                replace();
            }
        });
        return false;
    }
</script>