<form method="post" action="{:U('addPost')}" class="form-horizontal" id="form-add">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">添加%COMMENT%</h4>
	</div>
	<div class="modal-body">
		%TABLE%
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" onclick="add(this.form)" value="确定" />
		<input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
	</div>
	<div class="error-msg"></div>
</form>