<form method="post" action="__SELF__" class="form-inline" id="form-add">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">添加菜单</h4>
	</div>
	<div class="modal-body">
		<div style="padding:20px 20px 0 20px;">
			<table>
				<tr style="margin-bottom:10px;display:block;">
					<td width="90">上级菜单：</td>
					<td>
						<select name="parent_id" class="form-control">
							<option value="0">一级菜单</option>
							<?php foreach ($menu as $row):?>
							<option value="<?php echo $row['menu_id'];?>"><?php echo str_repeat('　', $row['deep']),$row['name'];?></option>
							<?php endforeach;?>
						</select>
					</td>
					</tr>
				<tr style="margin-bottom:10px;display:block;">
					<td width="90">模块：</td>
					<td>
						<input type="text" class="form-control" placeholder="模块" name="module" value="" maxlength="20" /><span class="text-info">*</span>					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">控制器：</td>
					<td>
						<input type="text" class="form-control" placeholder="控制器" name="controller" value="" maxlength="20" /><span class="text-info">*</span>					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">方法：</td>
					<td>
						<input type="text" class="form-control" placeholder="方法" name="action" value="" maxlength="20" /><span class="text-info">*</span>					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">是否显示：</td>
					<td>
						<input type="radio" name="is_display" value="显示" checked="checked" />显示<input type="radio" name="is_display" value="隐藏" />隐藏					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">菜单名称：</td>
					<td>
						<input type="text" class="form-control" placeholder="菜单名称" name="name" value="" maxlength="50" /><span class="text-info">*</span>					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">菜单图标：</td>
					<td>
						<input type="text" class="form-control" placeholder="菜单图标" name="icon" value="" maxlength="50" />					</td>
					</tr><tr style="margin-bottom:10px;display:block;">
					<td width="90">排序：</td>
					<td>
						<input type="text" class="form-control" placeholder="排序" name="list_order" value="0" />					</td>
					</tr>			</table>
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-primary" onclick="add()" value="确定" />
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	</div>
	<div class="error-msg"></div>
</form>